.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background: linear-gradient(#ffaeaebc, #ffffff);  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 89, 255, 0.708);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dog-picker-title {
  color: rgb(0, 157, 255);
  font-size: 50px;
}


.LargeDogs {
  background-image: url(../pics/LargeDogs.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.MediumDogs {
  background-image: url(../pics/MediumDogs.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.SmallDogs {
  background-image: url(../pics/SmallDogs.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* dogs */
.Akita {
  background-image: url(../pics/Akita.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.AmericanBulldog {
  background-image: url(../pics/AmericanBulldog.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.AustralianShepherd {
  background-image: url(../pics/AustralianShepherd.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.BostonTerrier {
  background-image: url(../pics/BostonTerrier.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.Boxer {
  background-image: url(../pics/Boxer.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.Chihuahua {
  background-image: url(../pics/Chihuahua.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.ChowChow {
  background-image: url(../pics/ChowChow.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.CockerSpaniel {
  background-image: url(../pics/CockerSpaniel.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.Dalmation {
  background-image: url(../pics/Dalmation.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.Doberman {
  background-image: url(../pics/Doberman.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.FrenchBulldog {
  background-image: url(../pics/FrenchBulldog.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.GoldenRetriever {
  background-image: url(../pics/GoldenRetriever.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.GreatDane {
  background-image: url(../pics/GreatDane.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.LabradorRetriever {
  background-image: url(../pics/LabradorRetriever.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.Maltese {
  background-image: url(../pics/Maltese.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.Pomeranian {
  background-image: url(../pics/Pomeranian.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.Pug {
  background-image: url(../pics/Pug.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.Rottweiler {
  background-image: url(../pics/Rottweiler.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
.ShihTzu {
  background-image: url(../pics/ShihTzu.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}
/* dogs end */

.chosen-category-pic {
  min-height: 200px;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
}

.game-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.game-criteria-container {
  display: grid;
}

.chosen-breed-pic {
  width: 560px;
  height: 800px;
  margin: 5px;
  border-radius: 20px;
}
.tie-winners-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

select, option {
  text-align: center;
}

@media screen and (max-width: 615px) {
  .chosen-breed-pic {
      min-width: 400px;
      min-height: 300px;
  }
}


/* loader */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(230, 0, 255);
  border-color: rgb(247, 0, 255) transparent rgb(225, 0, 255) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
