.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background: linear-gradient(#ffaeaebc, #ffffff);  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(0, 89, 255, 0.708);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dog-picker-title {
  color: rgb(0, 157, 255);
  font-size: 50px;
}


.LargeDogs {
  background-image: url(../pics/LargeDogs.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}

.MediumDogs {
  background-image: url(../pics/MediumDogs.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}

.SmallDogs {
  background-image: url(../pics/SmallDogs.jpg);
  background-repeat: no-repeat;
  min-height: 200px;
  background-size: 100% 100%;
}

/* loader */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(230, 0, 255);
  border-color: rgb(247, 0, 255) transparent rgb(225, 0, 255) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
